.pokemon-data, .bio-details{
    text-align: left;
}

.pokemon-name {
    text-align: center;
    color: var(--yellow);
    text-shadow: 2px 0 var(--blue), 
                -2px 0 var(--blue), 
                0 2px var(--blue), 
                0 -2px var(--blue);
}

.capitalize {
    text-transform: capitalize;
}