.pokemon-stats {
    grid-area: stats;
}
.pokemon-profile {
    grid-area: profile;
}
.pokemon-bio {
    grid-area: bio;
}
.pokemon-moves {
    grid-area: moves;
}
.pokemon-data {
    display: grid;
    justify-content: space-evenly;
    max-width: 1200px;
    width: 100%;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
        "stats profile bio"
        "moves moves moves";

    @media screen and (max-width: 900px) {
        grid-template-columns: 33% 34% 33%;
    }
}