:root {
  /* 
    Typography colours from: 
    https://medium.com/@Skaoi/designing-a-pok%C3%A9mon-application-wireframes-ui-and-prototype-9cc6ec4de477
  */
  --red: #f14b3d;
  --white: #f8f9fa;
  --grey: #595f65;
  --yellow: #fdd85d;
  --blue: #072ac8;

  /* Type colours */
  /*
  --normal:
  --fighting:
  --flying:
  --poison:
  --ground:
  --rock:
  --bug:
  --ghost:
  --steel:
  --fire:
  --water:
  --grass:
  --electric:
  --psychic:
  --ice:
  --dragon:
  --dark:
  --fairy:
  --stellar:
  --unknown:
  */
}

.app-container {
  color: var(--grey);
  /* background-color: #282c34; */
  background-color: var(--white);
}

.app {
  text-align: center;
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3vh);
}

button {
  font-size: 1.5rem;
}

.text-center {
  text-align: center;
}

.align-center {
  align-items: center;
}

.h-full {
  height: 100%;
}

.border-left {
  border-left: solid 1px var(--grey);
}

.border-right {
  border-right: solid 1px var(--grey);
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.grid-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}